<div class="masthead">
	<div class="inner">
		<img class="img" ng-src="{{user.cover.versions.large.url || './assets/images/cover-placeholder.jpg'}}" alt="">
	</div>

	<div class="avatar">
		<img class="img" ng-src="{{user.thumbnail.versions.thumb_sq.url || './assets/images/avatar-placeholder.png'}}" alt="">
		<h3>{{user.name}}</h3>
		<button class="btn btn-default btn-sm" ui-sref="app.secure.profile.edit">Edit</button>
	</div>
</div>

<div class="container">
	
	<div class="page-header page-header-with-controls">
		<h1 class="h3">{{model.trips.collection.length}} Trips</h1>
		
		<div class="btn-toolbar">
			<div class="btn-group">
				<button type="button" class="btn btn-sm btn-success" ui-sref="app.secure.profile.tripInspectorNew">New trip</button>

				<button type="button" class="btn btn-sm btn-success" ui-sref="app.secure.profile.tripInspectorNew">New bucket</button>
			</div>

			<div class="btn-group">
				<button type="button" class="btn btn-sm btn-default">Most recent</button>
				<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row mbxl">
		<div class="col-sm-4 flush" ng-repeat="trip in model.trips.collection" ng-show="trip.privacy === 1 || (trip.privacy !== 1 && trip.userId == user._id)">
			<div class="thumbnail-shim thumbnail-rec mbn">
	
				<div class="thumbnail-caption">
					<h4 class="h4">
						<a ui-sref="app.public.trips.map({'id': trip._id})">{{trip.name}}</a></h4>
					<h5 class="h5">{{trip.location}} - <small>{{trip.photos || 0}} photos</small></h5>
				</div>

				<div>
					<img class="img crop" ng-src="{{trip.thumbnail.versions.thumb_rec.url}}"  ng-show="trip.thumbnail.versions.thumb_rec.url">
					<img src="./assets/images/thumb-placeholder.png" class="img" ng-hide="trip.thumbnail.versions.thumb_sq.url">
				</div>

				<div class="thumbnail-toolbar">
					<div class="btn-group">
						<button class="btn btn-xs btn-default" ui-sref="app.secure.trips.edit({id: trip._id})">
							<i class="glyphicon glyphicon-pencil"></i>
						</button>
					</div>
				</div>

				<!--<div class="caption">
					<h3 class="h3">{{trip.name}} <small>{{trip.location}} <i class="glyphicon glyphicon-eye-open" ng-show="trip.privacy == 1"></i></small></h3>
				</div>-->
			</div>
		</div>
	</div>

	<div class="page-header page-header-with-controls">
		<h1 class="h3">My latest photos</h1>
	</div>

	<div class="row">
		<div class="col-sm-2 flush" ng-repeat="photo in model.photos.collection">
			<a class="thumbnail thumbnail-shim mbn" ui-sref="app.secure.trips.edit.photo.view({photoId: photo._id})">

				<img class="img crop" ng-src="{{photo.versions.thumb_sq.url}}"  ng-show="photo.versions.thumb_sq.url">
				<img src="./assets/images/thumb-placeholder.png" class="img" ng-hide="photo.versions.thumb_sq.url">

				<!--<div class="caption">
					<h3 class="h3">{{trip.name}} <small>{{trip.location}} <i class="glyphicon glyphicon-eye-open" ng-show="trip.privacy == 1"></i></small></h3>
				</div>-->
			</a>
		</div>
	</div>
</div>