<div class="modal-header">
    <button class="close" data-dismiss="modal" type="button" ng-click="close()"><span>&times;</span><span class="sr-only">Close</span></button>

    <h5 class="modal-title">
    	Photo Viewer
    </h5>
</div>

<div class="modal-body full-height">
    <div class="row full-height">
        <div ui-view="modal" class="full-height"></div>
    </div>
</div>