<div class="col-sm-6 full-height">
	<div class="image-wrapper full-height" style="background-image: url({{photo.photos.active.versions.medium.url}})">
    	<!--img async-image ng-src="{{photo.versions.thumb_sq.url}}" style="margin: auto;" class="img"-->
    </div>

</div>

<div class="col-sm-6 modal-aside">


	<div class="modal-info-block mb">
		{{photo.photos.active.name}}
		<br>
    	{{photo.photos.active.description}}
    </div>

    <a href="javascript:void(0)" ng-click="prev()">Prev</a>

    {{index + 1}} / {{photo.photos.collection.length}}

    <a href="javascript:void(0)" ng-click="next()">Next</a>
    
</div>