<div class="col-sm-6 full-height">
	<div class="image-wrapper full-height" style="background-image: url({{photos.photos.active.versions.medium.url}})">
    	<!--img async-image ng-src="{{photo.versions.thumb_sq.url}}" style="margin: auto;" class="img"-->
    </div>
    

</div>

<div class="col-sm-6 modal-aside">
	<form name="image" ng-submit="save(photos.photos.active)" class="mb">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="image-name" placeholder="Name" ng-model="photos.photos.active.name">
        </div>

        <div class="form-group">
            <label for="name">Description</label>
            <textarea type="text" class="form-control" id="image-desc" ng-model="photos.photos.active.description"></textarea>
        </div>
            
        <div class="btn-toolbar">
            <button type="submit" class="btn btn-default">Save</button>
            <button type="button" class="btn btn-danger" ng-click="destroy(photos.photos.active._id)">Delete</button>
        </div>
    </form>
    
    <div class="text-center">
        <a href="javascript:void(0)" ng-click="prev()">Prev</a>

        {{index + 1}} / {{photos.photos.collection.length}}

        <a href="javascript:void(0)" ng-click="next()">Next</a>
    </div>

</div>