<div class="context-loading" loading promise="Promise">
	<div class="context-loading-message">
		<i class="glyphicon glyphicon-refresh spin"></i> Please wait...
	</div>
	<div class="context-loading-backdrop"></div>

	<div class="modal-header mb">
	    <button class="close" data-dismiss="modal" type="button" ng-click="close()"><span>&times;</span><span class="sr-only">Close</span></button>

	    <h5 class="modal-title">
	    	Edit Profile
	    </h5>
	</div>	

	<div class="modal-body">
		<div class="clearfix">
			<div class="col-sm-12">
				<form novalidate name="tripInspectorForm">
				  <div class="row">
	
					<div class="col-sm-122">
						<div class="thumbnail-shim no-sq">

						<div class="thumbnail" ng-show="inspector.coverPic || inspector.cover.versions.small.url">
			  				<img ng-src="{{inspector.cover.versions.small.url}}" class="img crop" ng-show="inspector.cover.versions.small.url && !inspector.coverPic">

			  				<div class="crop" style="padding-bottom: 100%; background-image: {{inspector.cover.versions.small.url}}; background-size: cover; background-repeat: no-repeat;" ngf-background="inspector.coverPic" ngf-size="{width: 250}" ng-show="inspector.coverPic">
							</div>
			  			</div>
			  			
			  			<img src="./assets/images/cover-placeholder.jpg" class="img" ng-hide="inspector.cover.versions.small.url || inspector.coverPic">
			  			


			  			<div class="thumbnail-toolbar">
			  				<button ngf-select ng-model="inspector.coverPic" name="file" class="btn btn-default btn-xs" ng-click="inspector.shouldCreateFile = true">Change</button>
			  			</div>
			  		</div>
					</div>

				  	<div class="col-sm-4 col-sm-offset-4 mb">

				  		<div class="thumbnail-shim no-sq">

							<div class="thumbnail" ng-show="inspector.thumb || inspector.thumbnail.versions.thumb_sq.url">
				  				<img ng-src="{{inspector.thumbnail.versions.thumb_sq.url}}" class="img crop" ng-show="inspector.thumbnail.versions.thumb_sq.url && !inspector.thumb">

				  				<div class="crop" style="padding-bottom: 100%; background-image: {{inspector.thumbnail.versions.thumb_sq.url}}; background-size: cover; background-repeat: no-repeat;" ngf-background="inspector.thumb" ngf-size="{width: 250}" ng-show="inspector.thumb">
								</div>
				  			</div>
				  			
				  			<img src="./assets/images/thumb-placeholder.png" class="img" ng-hide="inspector.thumbnail.versions.thumb_sq.url || inspector.thumb">
				  			


				  			<div class="thumbnail-toolbar">
				  				<button ngf-select ng-model="inspector.thumb" name="file" class="btn btn-default btn-xs" ng-click="inspector.shouldCreateFile = true">Change</button>
				  			</div>
				  		</div>
				  	</div>

				  	<div class="col-sm-6 col-sm-offset-3">
				  		<div class="form-group">
						    <label for="exampleInputEmail1">Name</label>
						    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" ng-model="inspector.name" required>
					  	</div>
					</div>

					<div class="col-sm-6 col-sm-offset-3 mb">
				  		<div class="form-group">
						    <label for="exampleInputEmail1">Email</label>
						    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="inspector.email" required>
					  	</div>
					</div>
					
					<div class="col-sm-6 col-sm-offset-3">
						<div class="btn-toolbar">
							<button type="submit" class="btn btn-default" ng-click="save(inspector, tripInspectorForm)">Submit</button>
							<button type="button" class="btn btn-danger" ng-click="destroy(inspector._id)" ng-show="inspector._id">Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	    <!--div class="modal-footer">
	        
	    </div-->
	</div>
</div>