<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" style="color: white">
    {{user._id}}
    </div>

    <form class="navbar-form navbar-right" role="search"> <div class="form-group"> <input type="text" class="form-control" placeholder="Search"> </div> <button type="submit" class="btn btn-default">Submit</button> </form>

    <ul class="nav navbar-nav navbar-right">
        <li u-sref-active="active"><a ui-sref="app.public.home">Home</a></li>
        <li u-sref-active="active"><a ui-sref="app.secure.profile">My profile</a></li>
        <li ng-hide="user.email"><a href="javascript:void(0)" ng-click="authenticate()">Login / Register</a></li>
        <li ng-show="user.email"><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
    </ul>
  <!--
    <div class="pull-right">
      <div class="btn-toolbar">
        <a class="btn" ui-sref="app.public.home" ui-sref-active="btn-info">Home</a>
        <a class="btn" ui-sref="app.secure.profile" ui-sref-active="btn-info">My profile</a>
        <a class="btn" ui-sref="app.secure.trips.list" ui-sref-active="btn-info">Dashboard</a>
        <a ng-hide="user.email" class="btn" ng-click="authenticate()" ui-sref-active="btn-info">Login / Register</a>
        <a ng-show="user.email" class="btn" ng-click="logout()" ui-sref-active="btn-info">Logout</a>
      </div>
    </div>-->
  </div>
</nav>