<div class="container">
	<div class="col-sm-12">

		<div class="page-header page-header-with-controls">
			<h1 class="h3">{{model.trips.active.name}} <small>{{model.photos.collection.length}} photos</small></h1>
			<div class="btn-toolbar">
				<button type="button" class="btn btn-sm btn-link" ui-sref="app.public.trips.map({'id': model.trips.active._id})">View</button>
				<button type="button" class="btn btn-sm btn-link" ui-sref="app.secure.trips.edit.tripInspector">Edit</button>
				<button type="button" class="btn btn-sm btn-link" ui-sref="app.secure.trips.list">All Trips</button>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="well well-upload text-center -mbn" ngf-drop="true" ng-model="file"  ngf-drag-over-class="-dragover" ngf-multiple="true">
			    <div>
			      <i class="glyphicon glyphicon-file -mls"></i>
			      <span>
			        Drag file into this are or <a href="javascript:void(0)" ngf-select="true" ng-model="file">
			        <strong>browse</strong></a> for file.
			      </span>
			    </div>
			</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-2 flush" ng-repeat="photo in model.photos.collection">
				<a class="thumbnail thumbnail-shim mbn" ui-sref="app.secure.trips.edit.photo.view({photoId: photo._id})">

					<img class="img crop" ng-src="{{photo.versions.thumb_sq.url}}"  ng-show="photo.versions.thumb_sq.url">
					<img src="./assets/images/thumb-placeholder.png" class="img" ng-hide="photo.versions.thumb_sq.url">

					<!--<div class="caption">
						<h3 class="h3">{{trip.name}} <small>{{trip.location}} <i class="glyphicon glyphicon-eye-open" ng-show="trip.privacy == 1"></i></small></h3>
					</div>-->
				</a>
			</div>
		</div>
	</div>
</div>