/**
 * Grid Styles and overrides
 */

.span {
	padding: 0;
}

.row-span {
	@extend .row;
	margin-left: 0;
	margin-right: 0;
}

/**
 * Create an media agnostic grid system based on bootrap
 */
@for $i from (1 + 1) through $grid-columns {
  .col-#{$i} {
    @extend .col-xs-#{$i};
    @extend .col-sm-#{$i};
    @extend .col-md-#{$i};
    @extend .col-lg-#{$i};
  }
}

.row-eq {
  padding-left: 10px;
  padding-right: 10px;

  [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}