<div class="context-loading" loading promise="Promise">
	<div class="context-loading-message">
		<i class="glyphicon glyphicon-refresh spin"></i> Please wait...
	</div>
	<div class="context-loading-backdrop"></div>

	<div class="modal-header mb">
	    <button class="close" data-dismiss="modal" type="button" ng-click="close()"><span>&times;</span><span class="sr-only">Close</span></button>

	    <h5 class="modal-title">
	    	{{modalParams.isNew ? 'New' : 'Edit'}} Trip
	    </h5>
	</div>	

	<div class="modal-body">
		<div class="clearfix">
			<div class="col-sm-12" ng-hide="tripCreated">
				<form novalidate name="tripInspectorForm">
				  <div class="row">
				  	<div class="col-sm-4 col-sm-offset-4 mb">

				  		<div class="thumbnail-shim no-sq">
				  			
							<div class="thumbnail" ng-show="inspector.file || inspector.thumbnail.versions.thumb_sq.url">
				  				<img ng-src="{{inspector.thumbnail.versions.thumb_sq.url}}" class="img crop" ng-show="inspector.thumbnail.versions.thumb_sq.url && !inspector.file">

				  				<div class="crop" style="padding-bottom: 100%; background-image: {{inspector.thumbnail.versions.thumb_sq.url}}; background-size: cover; background-repeat: no-repeat;" ngf-background="inspector.file" ngf-size="{width: 250}" ng-show="inspector.file">
								</div>
				  			</div>
				  			
				  			<img src="./assets/images/thumb-placeholder.png" class="img" ng-hide="inspector.thumbnail.versions.thumb_sq.url || inspector.file">
				  			


				  			<div class="thumbnail-toolbar">
				  				<button ngf-select ng-model="inspector.file" name="file" class="btn btn-default btn-xs" ng-click="inspector.shouldCreateFile = true">Change</button>
				  			</div>
				  		</div>
				  	</div>

				  	<div class="col-sm-6">
				  		<div class="form-group">
						    <label for="exampleInputEmail1">Name</label>
						    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" ng-model="inspector.name" required>
					  	</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
						    <label for="exampleInputEmail1">Location</label>
						    <input type="text" ng-model="inspector.location" typeahead="address for address in getLocation($viewValue)" class="form-control" required>
						  </div>
					  	</div>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Description</label>
						<textarea type="text" class="form-control" id="exampleInputEmail1" ng-model="inspector.description" required></textarea>
					</div>

					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" ng-model="inspector.privacy">
					    Public
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios2" value="2" ng-model="inspector.privacy">
					    Only friends
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios3" value="3" ng-model="inspector.privacy">
					    Private (only me)
					  </label>
					</div>
					
					<div class="btn-toolbar">
						<button type="submit" class="btn btn-default" ng-click="save(inspector, tripInspectorForm)">Submit</button>
						<button type="button" class="btn btn-danger" ng-click="destroy(inspector._id)" ng-show="inspector._id">Delete</button>
					</div>
				</form>
			</div>
			<div class="jumbotron col-sm-12" ng-show="tripCreated"> 
				<h1>Success!</h1> 
				<p>Your trip has been created so all you need to do now is add some photos of your adventure.</p>
				
				<div class="btn-toolbar">
					<button class="btn btn-default" ng-click="edit()">Add some photos</button>
					<button class="btn btn-default" ng-click="view()">View on map</button>
				</div>

			</div>
		</div>

	    <!--div class="modal-footer">
	        
	    </div-->
	</div>
</div>