.btn {

	&.-loading {
		opacity: 0.8;

		
	}

	&.has-avatar {
		position: relative;
		padding-left: 40px;

		img {
			position: absolute;
		    left: 0;
		    height: 30px;
		    width: 30px;
		    border-radius: 100%;
		    top: 0;
		}
	}
}

.navbar-btn {
	color: #fff;
	border-color: #fff;
}

