/**
 * Custom Form Styling
 */

.filter-form {
	background: #fff;
}

.help-block {
	font-size: 12px;
}
.form-group {
	.help-block {
		margin-bottom: 0;
	}
}	

.typeahead-wrapper {
	position: relative;

	.dropdown-menu {
		width: 100%;
		overflow-x: hidden;
	}
}

.floated-label {
	line-height: 30px; 
}

// States
.ng-submitted {
	input.ng-invalid, textarea.ng-invalid {
		border-color: red;
	}
}