/**
 * Spacing
 */
.mbn {
	margin-bottom: 0px;
}
.mb {
	margin-bottom: 20px;
}
.mbl {
	margin-bottom: 40px;
}
.mbxl {
	margin-bottom: 60px;
}


.mrn {
	margin-right: 0px;
}
.mr {
	margin-right: 20px;
}
.mrl {
	margin-right: 40px;
}
.mrxl {
	margin-right: 60px;
}


.mtn {
	margin-top: 0px;
}
.mt {
	margin-top: 20px;
}
.mtl {
	margin-top: 40px;
}
.mtxl {
	margin-top: 60px;
}

.clip {
	overflow: hidden;
}

.centered-inline {
	display: inline-block;
}

.full-height {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

.no-bg {
	background: transparent;
}

.flush {
	padding: 0;
	margin: 0;
}