.img {
	max-width: 100%;
}

.navbar-avatar {
	height: 34px;
	margin: 8px;
}

.thumbnail {
	padding: 0;
	position: relative;
	border: none;
	padding-bottom: 100%;
	overflow: hidden;
}

.thumbnail-shim {
	position: relative;
	padding-bottom: 100%;
	background: url('../../images/loading.gif') center center transparent no-repeat;

	img {
		position: absolute;
		max-width: 100%;
		max-height: 100%;
		z-index: 9;
	}

	&.no-sq {
		padding-bottom: 0;

		img {
			position: static;
		}
	}
}

.thumbnail-rec {
	padding-bottom: 50%;
}

.thumbnail-toolbar {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 10;
}

.thumbnail-avatar {
	
	img {
		border-radius: 100%;
		height: 30px;
		width: 30px;
	}
}

.thumbnail-caption {
	position: absolute;
	padding: 10px;
	z-index: 10;
	background: rgba(255,255,255,0.8);
	width: 100%;

	.h5 {
		margin: 0;
	}
	
	&.with-avatar {
		.h5, .h4 {
			margin-left: 40px;
		}
	}
}

.thumbnail.thumbnail-progress {
	position: relative;
}

.loader {
	display: none;
}

.image-wrapper {
	position: relative;
	background: #333;
}

.image-loading {
	width: 100%;
	background: url('../../images/loading.gif') center center transparent no-repeat;
	img {
		visibility: hidden;
	}
}

.pending {
	opacity: 0.6;
}

.image-wrapper {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}
