/**
 * Masthead
 */

.masthead {
	width: 100%;
	padding-bottom: 25%;
	position: relative;
	overflow: hidden;

	.inner {
		position: absolute;
		height: 100%;
		width: 100%;
		text-align: center;
		background: #f2f2f2;
		img {
			opacity: 0.8;
		}
	}
	
	.avatar {
		position: absolute;
		top: 40%;
		left: 50%;
		margin-left: -200px;
		margin-top: -75px;
		height: 150px;
		width: 400px;
		text-align: center;

		img {
			border-radius: 100%;
			border: 4px solid #fff;
			height: 150px;
			width: 150px;
		}

		h3 {
			color: #fff;
			font-weight: normal;
		}
	}

	img {
		@extend .img;
	}
}

.jumbotron {
	&.light {
		color: #fff;
	}
}