.modal-footer {
	padding: 15px;
	text-align: left;
}

.modal-aside {
	padding-right: 30px;
	padding-left: 30px;

	@media (min-width: $screen-sm-min) {
	 	padding-top: 15px;
		padding-left: 0px;
	}
}

.modal-info-block {
	padding-bottom: 20px;
    border-bottom: 1px solid #f3f3f3;
}

.modal-fit-to-screen {
	&.modal  {
		padding: 30px 0;
	}
	
	.modal-content {
		padding-top: 50px;
		background: #ffffff;
	}

	.modal-header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
	}

	.modal-dialog {
		height: 100%;
		max-height: 700px;
		margin: 0 auto;
	}

	.modal-content {
		height: 100%;
	}
}

// Scale up the modal
@media (min-width: $screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog.modal-lg {
    width: 750px;
  }
}

@media (min-width: $screen-lg-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog.modal-lg {
    width: 900px;
  }
}