.thumbnail-progress-wrapper {
	position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;

    .progress {
    	height: 6px;
    	box-shadow: none;
    	background: transparent;
    }

    .progress-bar {
    	background-color: rgba(0,0,0,0.4);
    }
}