/**
 * Moda Error
 */
/*.modal-danger {
  .modal-header {
    background: $alert-danger-bg;
    border-bottom: 1px solid $alert-danger-border;
    h4 {
      color: $alert-danger-heading;
    }
  }
}

.modal-warning {
  .modal-header {
    background: $alert-warning-bg;
    border-bottom: 1px solid $alert-warning-border;
    h4 {
      color: $alert-warning-heading;
    }
  }
}

.modal-success {
  .modal-header {
    background: $alert-success-bg;
    border-bottom: 1px solid $alert-success-border;
    h4 {
      color: $alert-success-heading;
    }
  }
}

.modal-info {
  .modal-header {
    background: $alert-info-bg;
    border-bottom: 1px solid $alert-info-border;
    h4 {
      color: $alert-info-heading;
    }
  }
}*/

.modal-danger, .modal-warning, .modal-success, .modal-info {
  .modal-dialog {
    @extend .modal-sm;
  } 
}