/**
 * Headings
 */
.h1 {
	@extend h1;
	padding: 0;
	margin: 0;
}

.h2 {
	@extend h2;
	padding: 0;
	margin: 0;
}

.h3 {
	@extend h3;
	padding: 0;
	margin: 0;
}

.h4 {
	@extend h4;
	padding: 0;
	margin: 0;
}