/**
 * Well Stying
 */

.well {
	&.stackable {
		border-radius: 0;
		border-top: none;
		border-left: none;
		border-right: none;
	}
}

.well-upload {
	border: 3px dashed $well-border;
	box-shadow: none; 
	padding-top: 80px;
	padding-bottom: 80px;

	&.-dragover {
		border-color: darken($well-border, 10);
	}
}