<div class="container">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Trips</h1>
		</div>
	</div>

	<div class="col-sm-12 mb">
		<a  class="btn btn-primary" role="button" ui-sref="app.secure.trips.list.tripInspectorNew">New</a>
	</div>

	<div class="col-sm-12" ng-hide="trips.trips.collection.length">
		<div class="text-center">
			No trips mate.
		</div>
	</div>

	<div class="col-sm-4" ng-repeat="trip in trips.trips.collection">
		<div class="thumbnail">
			<img class="img crop" ng-src="{{trip.thumbnail.versions.thumb_sq.url}}"  ng-show="trip.thumbnail.versions.thumb_sq.url">
			<img src="./assets/images/thumb-placeholder.png" class="img" ng-hide="trip.thumbnail.versions.thumb_sq.url">
			<div class="caption">
				<h3>{{trip.name}} <small>{{trip.location}} <i class="glyphicon glyphicon-eye-open" ng-show="trip.privacy == 1"></i></small></h3>
				{{trip.createdAt | date : 'MM/dd/yyyy hh:mm:ss a'}}
				<p>
					<a class="btn" role="button" ui-sref="app.public.trips.map({'id': trip._id})">View</a> 
					<a class="btn" role="button" ui-sref="app.secure.trips.edit({'id': trip._id})">Manage</a>

				</p>
			</div>
		</div>
	</div>
		
</div>