/**
 * Main Page Styles
 */

// Make full screen
html, body, .wrapper {
	width: 100%;
	height: 100%;
  background: #f9f9f9;
}

.main {
	//min-height: 100%;
  height: 100%;
  background: #f9f9f9;
	//padding-left: 300px;
}

body {
  height: 100%;
	padding-top: 50px;
  //padding-bottom: 115px;
}

.home {
	padding-top: 100px;
}

.wrapper {
	position: relative;
	background: #fff;
}

.home {
	background: url('../../images/bg.png');
}

.container, .padding-top{
	padding-top: 20px;
}

.filled {
	background: #f8f8f8;
}

.thumb-carousel {
	position: absolute;
  bottom: 0;//-115px;
  //background-color: #333;
  padding: 10px;
  width: 100%;
}

.thumb-carousel-scroll {
  overflow-x: scroll;
  overflow-y: hidden!important;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.thumb-carousel-image {
	margin-right: 10px;
	float: left;
  position: relative;
	//box-shadow: 0px 0px 0px 2px #fff;
  //padding: 2px;

	&.selected {
		//box-shadow: 0px 0px 0px 2px yellow;
    border: 2px solid yellow;
	}
}

.image-has-geo {
  @extend .glyphicon;
  @extend .glyphicon-map-marker;
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  color: #fff;
  text-shadow: 0 0 5px #000;
}

.control {
  position: absolute;
  top: 0;
  display: block;
  width: 40px;
  background: rgba(255,255,255,0.3);
  height: 100%;
}

.control-inner {
  width: 100%;
  height: 100%;
  display: table;

  span {
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
    color: #333;
  }
}

.control-next {
  left: auto;
  right: 0;
}