/**
 * Map Styles
 */
.map-container {
	height: 460px !important;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #c6c6c6;
}

.map {
	height: 100%;
	width: 100%;
	position: relative;
}

.single-map {
	@extend .masthead;
	border-top: 8px solid #e8e8e8;
	.map {
		position: absolute;
	}
}