/**
 * Sidebar Styling
 */
.sidebar {
	background: $gray-dark;
	width: 300px;
	height: 100%;
	position: absolute;
	z-index: 300;
}

.sidebar-right {
	@include box-shadow(-2px 0 2px rgba(0, 0, 0, 0.2));
	overflow-y: scroll;
	background: #f8f8f8;
}

.sidebar__heading {
	text-align: center;
	margin-bottom: $panel-body-padding;
	color: #fff;
}

.sidebar__list {
	background: darken($gray-dark, 10);
	a {
		display: block;
	}
}

.sidebar__inner {
	padding: 0 $panel-body-padding;
}

.sidebar__filter {
	@extend .clearfix;
	background: #fcfcfc;
    border-bottom: 1px solid #eee;
    padding: 0 $panel-body-padding;
}

@media (max-width: $screen-sm-max) {
	.sidebar-right {
		@include translate(100%, 0);
		@include transition(all 0.2s);
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;

		&.open {
			@include transition(all 0.2s);
			@include translate(0, 0);
		}
	}
}