<nav class="navbar navbar-default mbn">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="app.public.home">{{model.trips.active.name}} - <small>{{model.photos.collection.length}} photos</small></a> 
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li u-sref-active="active"><a ui-sref="app.public.home">{{model.trips.active.user.name}}</a></li>
    </ul>
  </div>
</nav>

<!--div class="masthead">
	<div class="inner">
		<img class="img" ng-src="{{model.users.active.cover.versions.large.url || './assets/images/cover-placeholder.jpg'}}" alt="">
	</div>

	<div class="avatar">
		<img class="img" ng-src="{{model.trips.active.user.thumbnail.versions.thumb_sq.url || './assets/images/avatar-placeholder.png'}}" alt="">
		<h3>{{model.trips.active.user.name}}</h3>
		<button class="btn btn-default btn-sm" ui-sref="app.secure.profile.edit">Edit</button>
	</div>
</div-->

<div class="main span col-sm-12 map-container">
	<div tp-map class="map" center="model.trips.active.geo" on-init="mapInit()"></div>
</div>

<!--div class="container">
	<div class="col-sm-12">

		<div class="page-header page-header-with-controls">
			<h1 class="h3">{{model.trips.active.name}} <small>{{model.photos.collection.length}} photos</small></h1>
			<div class="btn-toolbar">
				<button type="button" class="btn btn-sm btn-link" ui-sref="app.public.trips.map({'id': photos.trips.active._id})">View map</button>
				<button type="button" class="btn btn-sm btn-link" ui-sref="app.public.profile({id: model.trips.active.user._id})">View profile</button>
				
			</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-2 flush" ng-repeat="photo in model.photos.collection">
				<a class="thumbnail thumbnail-shim mbn" ui-sref="app.secure.trips.edit.photo.view({photoId: photo._id})">

					<img class="img crop" ng-src="{{photo.versions.thumb_sq.url}}"  ng-show="photo.versions.thumb_sq.url">
					<img src="./assets/images/thumb-placeholder.png" class="img" ng-hide="photo.versions.thumb_sq.url">

					
				</a>
			</div>
		</div>
	</div>
</div-->