<div class="modal-header mb">
    <button class="close" data-dismiss="modal" type="button" ng-click="close()"><span>&times;</span><span class="sr-only">Close</span></button>

    <h4 class="modal-title">{{message.heading}}</h4>
</div>

<div class="modal-body mb">
    <div class="col-xs-12">
    	{{message.body}}
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="close()">Okay</button>
</div>