<div class="background-cover" style="background-image: url(/assets/images/stock-2.jpg)">
	
	<div class="container">
		<div class="jumbotron no-bg text-center light">
		  <h1>Discover the world through pictures</h1>
		  <p>Share your adventures with friends and the world!</p>
		  <p><a class="btn btn-primary btn-lg" href="javascript:void(0)" role="button">Learn more</a></p>
		</div>
	</div>

</div>
<div class="container">
	
	<div class="page-header page-header-with-controls">
		<h1 class="h3">Recent Trips</h1>
		<div class="btn-group">
			<div class="btn-group">
			<button type="button" class="btn btn-sm btn-default">Most recent</button>
			<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 flush" ng-repeat="trip in model.trips.collection" ng-show="trip.privacy === 1 || (trip.privacy !== 1 && trip.userId == user._id)">
			<div class="thumbnail-shim thumbnail-rec mbn">
	
				<div class="thumbnail-caption with-avatar">
					<a href="" ui-sref="app.public.profile({id: trip.user._id})" class="thumbnail-avatar">
						<img class="img crop" ng-src="{{trip.user.thumbnail.versions.thumb_sm_sq.url || './assets/images/avatar-placeholder.png'}}" >
					</a>

					<h4 class="h4">
						<a  ui-sref="app.public.trips.map({'id': trip._id})">{{trip.name}}</a></h4>
					<h5 class="h5">{{trip.location}} - <small>{{trip.photos || 0}} photos</small></h5>
				</div>

				<div>
					<img class="img crop" ng-src="{{trip.thumbnail.versions.thumb_rec.url}}"  ng-show="trip.thumbnail.versions.thumb_rec.url">
					<img src="./assets/images/thumb-placeholder.png" class="img" ng-hide="trip.thumbnail.versions.thumb_sq.url">
				</div>

				<!--<div class="caption">
					<h3 class="h3">{{trip.name}} <small>{{trip.location}} <i class="glyphicon glyphicon-eye-open" ng-show="trip.privacy == 1"></i></small></h3>
				</div>-->
			</div>
		</div>
	</div>
</div>