<!--nav class="navbar navbar-default mbn">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="app.public.home">{{model.trips.active.name}} - <small>{{model.photos.collection.length}} photos</small></a> 
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li>
        	<a ui-sref="app.public.home">{{model.trips.active.user.name}}</a>
        </li>
         <li>
        	<a href="javascript:void(0)" ng-click="tripdeets = !tripdeets">Show</a>
        </li>
    </ul>
  </div>
</nav-->

<div class="main span col-sm-12 map-container">
	<div tp-map class="map" center="model.trips.active.geo" on-init="mapInit()"></div>

	<div class="span col-sm-12 thumb-carousel">
		<div class="thumb-carousel-scroll">
			<div class="thumb-carousel-wrap" ng-style="{'min-width': model.photos.collection.length * 110 + 'px'}">
				<a ng-repeat="photo in model.photos.collection" class="thumb-carousel-image"  ui-sref="app.public.trips.map.photo.view({photoId: photo._id})" ng-class="{'selected' : photo._id === photos.photos.active._id}">
					<img ng-src="{{photo.versions.thumb_sq.url}}" height="100" width="100">
					<i class="image-has-geo" ng-show="photo.place_id"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="container" >
	<div class="col-sm-12">

		<div class="page-header page-header-with-controls">
			<h1 class="h3">{{model.trips.active.name}} <small>{{model.photos.collection.length}} photos</small></h1>
			<div class="btn-toolbar">
				
				<button type="button" class="btn btn-sm btn-link has-avatar" ui-sref="app.public.profile({id: model.trips.active.user._id})">
					<img src="{{model.trips.active.user.thumbnail.versions.thumb_sm_sq.url || './assets/images/avatar-placeholder.png'}}" alt="">
					{{model.trips.active.user.name}}
				</button>
				<button type="button" class="btn btn-sm btn-link">View map</button>
				
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-9">
			<h4 class="">About</h4>

			<p>{{model.trips.active.description}}</p>
		</div>

		<div class="col-sm-3">
			<div class="text-center">
				<img class="img" src="{{model.trips.active.thumbnail.versions.thumb_sq.url}}" alt="">
			</div>

			<!--pre>{{model.trips.active.user | json}}</pre-->
		</div>
	</div>
</div>

<!--div class="panel-sticky col-xs-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{photos.trips.active.name}} - {{photos.trips.active.location}}
		</div>
		<div class="panel-body">
			<img width="60px" ng-src="{{photos.trips.active.thumbnail.versions.thumb_sq.url}}" alt="">
			{{photos.trips.active.description}}
		</div>
		<div class="panel-footer clearfix" ng-show="photos.trips.active.user._id == user._id">
			<div class="btn-toolbar pull-right">
				<button class="btn btn-sm" ui-sref="app.public.trips.map.tripInspector({id: photos.trips.active._id})">Edit</button>
			</div>
		</div>
	</div>
</div-->