<div class="modal-header mb">
    <button class="close body-loading-content" data-dismiss="modal" type="button" ng-click="close()"><span>&times;</span><span class="sr-only">Close</span></button>

    <h4 class="modal-title">Login</h4>
</div>

<div class="modal-body clearfix">
	
	<div class="col-sm-12 mb">
		<ul class="nav nav-tabs">
			<li role="presentation" ng-class="{'active' : showLogin}">
				<a href="javascript:void(0)" ng-click="showLogin = true">Login</a>
			</li>
			<li role="presentation" ng-class="{'active' : !showLogin}">
				<a href="javascript:void(0)" ng-click="showLogin = false">Register</a>
			</li>
		</ul>
	</div>

	<div class="col-sm-12 mb">
		<form name="loginForm" ng-show="showLogin">
			<div class="form-group">
				<label for="authEmail">Email address</label>
				<input type="email" class="form-control" id="authEmail" placeholder="Email" ng-model="login.email">
			</div>
			<div class="form-group">
				<label for="authPassword">Password</label>
				<input type="password" class="form-control" id="authPassword" placeholder="Password" ng-model="login.password">
			</div>
			<button type="submit" class="btn btn-default btn-block" ng-click="submit(login)">Submit</button>
			<button type="button" class="btn btn-danger btn-block" ng-click="close()">Cancel</button>
		</form>

		<form name="registerForm" ng-hide="showLogin">
			<div class="form-group">
				<label for="authName">Name</label>
				<input type="text" class="form-control" id="authName" placeholder="Name" ng-model="register.name">
			</div>
			<div class="form-group">
				<label for="authEmail">Email address</label>
				<input type="email" class="form-control" id="authEmail" placeholder="Email" ng-model="register.email">
			</div>
			<div class="form-group">
				<label for="authPassword">Password</label>
				<input type="password" class="form-control" id="authPassword" placeholder="Password" ng-model="register.password">
			</div>
			<div class="form-group">
				<label for="authConfirmPassword">Confirm</label>
				<input type="password" class="form-control" id="authConfirmPassword" placeholder="Confirm" ng-model="register.confirmPassword">
			</div>
			<button type="submit" class="btn btn-default btn-block" ng-click="submit(register)">Submit</button>
			<button type="button" class="btn btn-danger btn-block" ng-click="close()">Cancel</button>	
		</form>
	</div>
    
	<div class="col-sm-12">
		<button class="btn btn-primary btn-block" ng-click="facebook()"><i class="glyphicon glyphicon-user"></i> Login with facebook</button>
	</div>

</div>