<!DOCTYPE html>  
<html lang="en">  
<head>  
    <title>Auth Success</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>  
<body>  



<script type="text/javascript">  
    if (window.opener) {

        var state = '<%= state %>';
        var user = <%- JSON.stringify(user) %>;

        window.opener.oauthSuccess(user);
    }

    window.open('/users/login/facebook/success', '_self').close();
</script>  
</body>  
</html>